* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1p';
  color: #000000;
  line-height: 1.5;
}

html:root,
body:root {
  --black: #000000;
  --red: #ea736d;
  --yellow: #fbdc4d;
}

@media (min-width: 1200px) {
  font-size: 24px;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
}

.header-title {
  margin-top: -25px;
  margin-bottom: 15px;
  font-size: 90px;
  font-weight: 900;
}

.title-2 {
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}

.header-title-3 {
  margin-top: -13px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: .6px;
}

.title-4 {
  position: relative;
  z-index: 1;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.2;
}

.none {
  display: none;
}

.header {
  position: relative;
  max-width: 1600px;
  padding-top: 70px;
  margin: 0 auto;
  margin-bottom: 240px;
  background-image: url(../../img/bg/line_1.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  z-index: 1;
}

.header-nav {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
}

.header-logo::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}

.logo {
  color: var(--black);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}

.header-menu:last-child {
  margin-right: 0;
}

.header-menu>a {
  margin-right: 80px;
}

.menu-item {
  position: relative;
  z-index: 2;
  color: var(--black);
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 0px;
  height: 6px;
  background-color: var(--yellow);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.menu-item:hover:after {
  width: 100%;
  color: var(--black);
}

.menu-item:focus {
  border: 3px dotted var(--red);
}

.header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

i {
  color: var(--black);
}

.fa-github {
  margin-right: 20px;
}

.fa-github:hover {
  color: #6cc644;
}

.fa-github:active {
  color: #6cc644;
}

.fa-vk:hover {
  color: #45668e;
}

.fa-vk:active {
  color: #45668e;
}

.fa-color {
  color: var(--black);
}

.fa-circle {
  color: #4d76a1;
}

.header-row_revers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 1140px;
}

.title-image {
  position: relative;
  width: 50%;
  z-index: 1;
}

.title-image img {
  margin-left: auto;
}

.title-image::after {
  content: "";
  position: absolute;
  background-image: url(../../img/header/back.svg);
  background-repeat: no-repeat;
  top: 130px;
  right: -130px;
  width: 475px;
  height: 410px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(245, 249, 250, 0.5)), to(rgba(244, 248, 249, 0)));
  background-image: linear-gradient(to top, rgba(245, 249, 250, 0.5) 0%, rgba(244, 248, 249, 0) 100%);
  z-index: -1;
}

.header-desc {
  width: 50%;
}

.header-desc>h1 {
  line-height: 1.2;
}

.line-bottom {
  position: relative;
  z-index: 2;
}

.line-bottom:after {
  content: "";
  position: absolute;
  bottom: 21px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--yellow);
  z-index: -1;
}

.header-text {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.5;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}

.button-link {
  margin-right: 13px;
  padding: 16px 38px;
  height: 64px;
  border-radius: 32px;
  background-color: var(--yellow);
  font-size: 22px;
  font-weight: 700;
  color: var(--black);
  line-height: 1.2;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.button-link:hover {
  background-color: #ffd200;
}

.button-link:active {
  background-color: #e1bc10;
}

.header-button {
  padding: 0 36px;
  height: 64px;
  border: 4px solid #464646;
  border-radius: 32px;
  font-size: 22px;
  font-weight: 700;
  color: #464646;
  line-height: 1.2;
  letter-spacing: 0.9px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.header-button:hover {
  color: #797979;
  border: 4px solid #797979;
}

.header-button:hover:active {
  color: #181818;
  border: 4px solid #181818;
}

.header-bg {
  position: relative;
  margin-top: -130px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.header-row_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1140px;
}

.header-skills {
  width: 650px;
  margin-right: 128px;
}

.header-skills-desk {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
}

.header-list-item {
  position: relative;
}

.header-list-item::before {
  content: "—";
  margin-right: 5px;
}

.header-list-item:last-child {
  margin-bottom: 0;
}

.header-button2 {
  padding: 12px 37px;
  height: 64px;
  border-radius: 32px;
  border: none;
  background-color: var(--yellow);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.header-button2:hover {
  background-color: #ffd200;
}

.header-button2:active {
  background-color: #e1bc10;
}

.header-social>.header-icons {
  margin-bottom: 25px;
}

.header-link {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
  text-decoration: underline;
  line-height: 1.2;
}

.header-link:hover {
  color: #039be3;
  text-decoration: underline;
}

.header-link:active {
  color: #ea655f;
  text-decoration: underline;
}

.none {
  display: none;
}

.portfolio {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f4f8f9;
}

.portfolio-row {
  margin: 0 auto;
  padding-bottom: 125px;
  padding-top: 97px;
  width: 1140px;
}

.line-bottom-2 {
  position: relative;
  z-index: 2;
}

.line-bottom-2::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
}

.portfolio-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.down50 {
  margin-bottom: 50px;
}

.down60 {
  margin-bottom: 62px;
}

.portfolio-work {
  margin-right: 80px;
  font-size: 28px;
  font-weight: 800;
  color: #8fa5ae;
  line-height: 1.2;
  cursor: pointer;
}

.portfolio-work:hover {
  color: var(--red);
}

.portfolio-work:active {
  color: var(--red);
}

.portfolio-work:first-child {
  margin-left: 150px;
  color: var(--black);
}

.portfolio-work:last-child {
  margin-right: 150px;
}

.portfolio-view-big img {
  margin-bottom: 20px;
  background-color: #fdd446;
  width: 556px;
  height: 370px;
}

.down25 {
  margin-bottom: 22px;
}

.down15 {
  margin-bottom: 15px;
}

.img-link a {
  display: block;
  position: relative;
}

.img-link a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(240, 217, 96, 0.5);
  opacity: 0;
  z-index: 1;
}

.img-link a .img-view {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 254px;
  height: 52px;
  border-radius: 52px;
  border: none;
  background-color: #ffffff;
  font-size: 22px;
  color: var(--red);
  font-weight: 700;
  padding: auto;
  opacity: 0;
  z-index: 2;
}

.img-link a .img-view:hover {
  background-color: var(--red);
  color: #ffffff;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-link a .img-view:active {
  background-color: #d4423b;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-link a:hover:before,
.img-link a:hover:after,
.img-link a:hover .img-view {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mix {
  display: none;
}

.link-big {
  font-size: 32px;
  font-weight: 800;
  color: var(--black);
}

.link-big:hover {
  color: var(--red);
}

.portfolio-view-big p {
  font-size: 22px;
  font-weight: 400;
}

.portfolio-view-micro {
  width: 360px;
  height: auto;
}

.link-micro {
  font-size: 26px;
  font-weight: 800;
  color: var(--black);
}

.link-micro:hover {
  color: var(--red);
}

.portfolio-view-micro p {
  font-size: 20px;
  font-weight: 400;
}

.how-work {
  position: relative;
  max-width: 1600px;
  padding-top: 130px;
  margin: 0 auto;
  margin-bottom: 148px;
  background: url(../../img/bg/line_2.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  z-index: 1;
}

.down130 {
  margin-bottom: 165px;
}

.how-work-blocks {
  width: 1094px;
  margin: 0;
}

.how-work-row {
  margin: 0 auto 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.how-work-row:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: left;
}

.how-work-row:nth-child(even) {
  text-align: right;
}

.how-work-row:last-child {
  margin-bottom: 0;
}

.how-work-row:nth-last-child(2) {
  margin-bottom: 77px;
}

.how-work-img {
  position: relative;
  z-index: 1;
  width: 74px;
  height: 74px;
}

.how-work-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-17px, -22px);
  transform: translate(-17px, -22px);
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  z-index: -1;
  border: 1px solid #460505;
}

.how-work-img:before {
  content: "";
  position: absolute;
  top: -146px;
  left: 19px;
  background-color: #e1eef4;
  width: 4px;
  height: 108px;
}

.how-work-block {
  padding-right: 55px;
  padding-left: 30px;
  width: 510px;
}

.how-work-block>h4 {
  margin-bottom: 10px;
}

.how-work-block p {
  font-size: 18px;
  line-height: 1.2;
}

.how-work-desc {
  margin-bottom: 10px;
  font-weight: 500;
}

.how-work-time {
  font-weight: 700;
}

.title-4::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: var(--yellow);
  z-index: -1;
}

.contacts {
  max-width: 1600px;
  padding-top: 127px;
  margin-bottom: 150px;
  margin: 0 auto;
  background-image: url(../../img/bg/line_1.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}

.contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 150px;
}

.contacts-row-left {
  width: 510px;
  padding-top: 25px;
}

.contacts-row-desk {
  line-height: 1.6;
}

.contacts-row-right {
  padding: 50px 60px 60px 62px;
  margin-right: 22px;
  width: 510px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px 0px #d3d3d3;
  box-shadow: 0px 10px 20px 0px #d3d3d3;
}

/*# sourceMappingURL=main.css.map */