.carousel1-card {
    border-radius: 3px;
    background-color: var(--white);
    box-shadow: 0px 0px 27px rgba(10, 54, 88, 0.11);

    @media(min-width: 390px) {
        box-shadow: rgba(10, 54, 88, 0.11) 0px 0px 27px;
    }
}

.card-top {
    padding: 36px 15px 0;
    position: relative;
}

.card-top_label {
    padding: 0 10px;
    position: absolute;
    top: 15px;
    left: 0;
    background-color: #e7eaee;

    font-size: 20px;
    font-weight: 600;
    font-family: 'RF Rufo', sans-serif;
    color: #959ca8;
    text-transform: uppercase;
    text-align: center;
}

.card-top_gear {
    padding: 0 10px 0 36px;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 9px;

    width: 191px;
    height: 40px;
    border: 2px solid var(--blue);
    border-radius: 3px;
    fill: var(--blue);
    transition: all 0.2s ease 0s;

    &::after {
        position: absolute;
        content: "сконфигурировать";

        font-family: 'RF Rufo', sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        color: var(--blue);
        text-transform: uppercase;
    }

    @media (min-width: 1024px) {
        padding: 0;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;

        &::after {
            content: "";
        }

        &:hover {
            top: 11px;
            right: 8px;
            fill: var(--white);
            background-color: var(--yellow);

            .card-top_text {
                display: block;
            }
        }
    }

    @media (min-width: 1024px) {
        top: 11px;
    }
}

.card-top_gear svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);

    @media (min-width: 1024px) {
        left: 50%;
    }
}

// Выпадашка у иконки gear - слайд карусели1
.tippy-box {
    display: none;

    @media (min-width: 1024px) {
        display: block;
        padding: 5px;
        width: 177px;
        height: 73px;
        border-radius: 4px;
        background-color: var(--white);
        box-shadow: 0 11px 43px rgba(10, 54, 88, .3);
    }
}

.tippy-content {
    font-size: 13px;
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 500;
    color: #828282;
    letter-spacing: 0.55px;
    line-height: 1.4;
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: var(--white);
}

//      ----- END  Выпадашка у иконки gear - слайд карусели1

.card-top_items {
    display: flex;
}

.card-top_item {
    width: 100%; //   H меняется вслед за W
    max-width: 25%;
    border-bottom: 3px solid #d7dde3;
    transition: 0.2s ease;

    //   ---   H меняется вслед за W (см.ниже)
    position: relative;

    &::before {
        display: block;
        content: "";
        padding-top: 266%;
    }

    //   ---   End   H меняется вслед за W

    &:not(:last-child) {
        margin-right: 1px;
    }

    &:hover {
        border-bottom: 3px solid var(--yellow);
        cursor: pointer;
    }

    @media (min-width: 1024px) {
        height: 135px;
    }

    @media(min-width: 1250px) {
        height: 180px;
    }
}

.card-top_item-img {
    width: calc(~"400% + 3px");

    //   ---   H меняется вслед за W (см.выше)
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    //   ---   End   H меняется вслед за W

    transition: opacity 0.2s ease;
    pointer-events: none;
}

.card-top_item-img-2 {
    margin-left: -100%;
    opacity: 0;
}

.card-top_item-img-3 {
    margin-left: -200%;
    opacity: 0;
}

.card-top_item-img-4 {
    margin-left: -300%;
    opacity: 0;
}

.card-top_item-2,
.card-top_item-3,
.card-top_item-4 {

    &:hover {

        .card-top_item-img-1 {
            opacity: 0;
        }

        .card-top_item-img {
            opacity: 1;
        }
    }
}

.card-middle {
    padding: 20px 12px 22px;
    display: block;
    text-align: center;

    &:hover {

        .card-middle_title {
            color: var(--blue);

            &:after {
                opacity: 1;
                pointer-events: visible;
            }
        }
    }

    @media (min-width: 768px) {
        padding-bottom: 25px;
    }

    @media (min-width: 1024px) {
        padding-top: 18px;
        padding-right: 14px;
    }

    @media(min-width: 1250px) {
        padding-top: 21px;
        padding-bottom: 15px;
    }
}

.card-middle li {
    display: flex;
}

.card-middle_title {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    transition: color .2s ease;

    &:after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--blue);

        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease;
    }

    @media(min-width: 768px) {
        margin-bottom: 30px;
    }

    @media(min-width: 1250px) {
        margin-bottom: 23px;
    }
}

.card-middle_item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    @media (min-width: 768px) {

        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }

    @media(min-width: 1250px) {

        &:not(:last-child) {
            margin-bottom: 11px;
        }
    }
}

.card-middle_item span {
    color: #acb1b9;
}

.card-middle_item-icn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
}

.card-middle_item-icn-1 {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: -1px;
    left: -2px;
}

.card-middle_item-icn-2 {
    position: absolute;
    content: "";
    width: 24px;
    height: 15px;
    top: 3px;
    left: -3px;
}

.card-middle_item-icn-3 {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -2px;
}

.card-middle_item-icn-4 {
    position: absolute;
    content: "";
    width: 22px;
    height: 18px;
    left: -3px;
}

.card-middle_item-icn-5 {
    position: absolute;
    content: "";
    width: 23px;
    height: 19px;
    left: -4px;
}

.card-middle_item-content {
    padding-left: 28px;
    font-size: 13px;
    font-family: sans-serif, Arial;
    color: var(--grey_text);
    text-align: left;

    @media (min-width: 768px) {
        line-height: 1.3;
    }

    @media(min-width: 1250px) {
        line-height: 1.5;
    }
}

.card-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'RF Rufo', sans-serif;
    text-transform: uppercase;
    color: var(--white);
}

.card-bottom span {
    margin-right: 8px;
    margin-top: 8px;
    font-size: 20px;
    text-transform: lowercase;

    @media (min-width: 1024px) {
        display: none;
    }
}

.card-bottom_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
}

.card-bottom_price {
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    background-color: var(--blue);
}

.card-bottom_buy {
    padding-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);

    &:hover {
        background-color: #f47402;

        .card-bottom_buy-drop {
            opacity: 1;
            pointer-events: visible;
        }
    }
}

.card-bottom_buy-icon {
    margin-right: 9px;
    width: 20px;
}

.card-bottom_buy-text {
    margin-top: -4px;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 0.4px;
}

.card-bottom_color {
    background-color: #005c86;
    filter: drop-shadow(rgba(10, 54, 88, 0.23) 0px 0px 49px);

    &:hover {
        background-color: #00496a;
    }
}

.card-bottom_buy-drop {
    padding: 14px 14px 10px;
    position: absolute;
    top: 60px;
    left: -45px;
    right: 5px;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: rgba(10, 54, 88, 0.23) 0px 0px 49px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease 0.2s;

    &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: -14px;
        left: 85px;
        background-color: var(--white);
        transform: translateY(100%) rotate(45deg);
    }

    @media (min-width: 390px) {
        left: -19px;
        right: -15px;
    }
}

.card-bottom_buy-drop-text {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Arimo', Arial, sans-serif;
    color: #828282;
    text-transform: none;
    letter-spacing: 1.1px;
    letter-spacing: 0.65px;
    line-height: 1.45;
}