@font-face {
    font-family: 'RF Rufo';
    src: local('RFRufo-Regular'),
        url('RFRufo-Regular.woff2') format('woff2'),
        url('RFRufo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Rufo';
    src: local('RFRufo-Semibold'),
        url('RFRufo-Semibold.woff2') format('woff2'),
        url('RFRufo-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Rufo';
    src: local('RF Rufo Bold'), local('RFRufo-Bold'),
        url('RFRufo-Bold.woff2') format('woff2'),
        url('RFRufo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Rufo';
    src: local('RFRufo-Black'),
        url('RFRufo-Black.woff2') format('woff2'),
        url('RFRufo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}