* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::-moz-selection {
  background-color: var(--yellow);
}
*::selection {
  background-color: var(--yellow);
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1p', sans-serif;
  color: var(--black);
  line-height: 1.5;
}
html:root,
body:root {
  --black: #000000;
  --red: #ea736d;
  --yellow: #fbdc4d;
  --blue: #4d76a1;
}
.noscroll {
  overflow: hidden;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
a {
  -webkit-transition: .5s;
  transition: .5s;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1140px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -32px;
  }
}
@media (min-width: 1200px) {
  .grid {
    margin-left: -30px;
  }
}
@media (min-width: 768px) {
  .cell {
    padding-left: 32px;
  }
}
@media (min-width: 1200px) {
  .cell {
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .cell-6-12--tablet {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .cell-5-12--desktop {
    width: 41.66%;
  }
  .cell-7-12--desktop {
    width: 58.33%;
  }
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
    font-weight: 900;
  }
}
.line-bottom {
  position: relative;
  z-index: 2;
}
.line-bottom:after {
  content: "";
  position: absolute;
  background-color: var(--yellow);
  z-index: -1;
  height: 12px;
  bottom: 7px;
  left: -5px;
  right: -5px;
}
@media (min-width: 768px) {
  .line-bottom:after {
    bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .line-bottom:after {
    bottom: 21px;
  }
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
  }
}
.portfolio_title > .title-2 {
  margin-bottom: 40px;
  text-align: left;
}
@media (min-width: 768px) {
  .portfolio_title > .title-2 {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .portfolio_title > .title-2 {
    margin-bottom: 50px;
  }
}
.how-work_title > .title-2 {
  margin-bottom: 45px;
  font-size: 38px;
}
@media (min-width: 768px) {
  .how-work_title > .title-2 {
    margin-bottom: 173px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .how-work_title > .title-2 {
    margin-bottom: 167px;
    font-size: 64px;
  }
}
.contacts_title > .title-2 {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .contacts_title > .title-2 {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .contacts_title > .title-2 {
    margin-bottom: 55px;
  }
}
.line-bottom-2 {
  position: relative;
  z-index: 2;
}
.line-bottom-2::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 6px;
  height: 12px;
  background-color: var(--yellow);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-2::after {
    bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-2::after {
    bottom: 15px;
  }
}
.title-3 {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-3 {
    margin-bottom: 43px;
    font-size: 42px;
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    margin-bottom: 48px;
    font-size: 48px;
  }
}
.line-bottom-3 {
  position: relative;
  z-index: 2;
}
.line-bottom-3::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 4px;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-3::after {
    bottom: 5px;
    height: 12px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-3::after {
    bottom: 9px;
  }
}
@media (min-width: 1200px) {
  .hide-desk {
    display: none;
  }
}
.about-me_title-4 {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .about-me_title-4 {
    font-size: 32px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .about-me_title-4 {
    margin-top: -15px;
    margin-bottom: 32px;
    font-size: 40px;
  }
}
.title-5 {
  display: inline-block;
  position: relative;
  margin-bottom: 9px;
  margin-top: 0;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.28;
  z-index: 1;
}
@media (min-width: 768px) {
  .title-5 {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
  .title-5 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
.title-5:after {
  display: none;
}
@media (min-width: 1200px) {
  .title-5:after {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 2px;
    height: 8px;
    width: 100%;
    background-color: var(--yellow);
    z-index: -1;
  }
}
.none {
  display: none;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .header-nav {
    margin: 0 auto;
    margin-bottom: 66px;
    padding-left: 35px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    margin-bottom: 170px;
    padding: 0 15px;
    max-width: 1400px;
  }
}
@media (min-width: 1440px) {
  .header-nav {
    padding: 0;
  }
}
.header-logo {
  position: relative;
  top: 0px;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.header-logo::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}
.header-logo:hover {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.header-logo > a {
  color: var(--black);
}
.header-menu {
  display: none;
}
@media (min-width: 1200px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
  }
  .header-menu:last-child {
    margin-right: 0;
  }
}
.header-menu > a {
  margin-right: 80px;
}
.menu-item {
  position: relative;
  z-index: 2;
  color: var(--black);
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: -5px;
  width: 0px;
  height: 6px;
  background-color: var(--yellow);
}
.menu-item:hover:after {
  width: 112%;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}
.menu-item:focus {
  border: 3px dotted var(--red);
}
.menu-item_change::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: -5px;
  width: 112%;
  height: 6px;
  background-color: var(--yellow);
  z-index: -1;
  -webkit-transition: none;
  transition: none;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}
#overlay.active {
  display: block;
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  width: 40%;
  min-width: 320px;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  z-index: 10;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  overflow: auto;
}
@media (min-width: 580px) {
  .mobile-nav {
    padding: 20px 25px;
  }
}
@media (min-width: 768px) {
  .mobile-nav {
    padding: 30px 25px;
  }
}
@media (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.mobile-nav > .header-logo {
  margin-bottom: 35px;
}
.menu-item_mobile-nav {
  margin-bottom: 20px;
}
.menu-item_mobile-nav:last-child {
  margin-bottom: 0;
}
.menu-item_mobile-link {
  position: relative;
  font-size: 20px;
  font-weight: 800;
  color: var(--black);
}
.menu-item_mobile-link::after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--black);
}
.menu-item_mobile-link:hover:after {
  background-color: var(--yellow);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.mobile-nav > p > a {
  font-size: 18px;
}
.mobile-nav > p > a:hover {
  color: #44aae9;
}
.mobile-nav > .social-icons {
  margin-top: 40px;
  margin-bottom: 35px;
}
.about-me {
  position: relative;
  padding-top: 0;
  padding-bottom: 55px;
  overflow: hidden;
}
@media (min-width: 580px) {
  .about-me {
    padding-top: 20px;
    padding-bottom: 95px;
  }
}
@media (min-width: 768px) {
  .about-me {
    width: 768px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .about-me {
    width: auto;
    padding-top: 70px;
    padding-bottom: 240px;
    background-image: url("../img/bg/line_1.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .about-me_row-revers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.title-image {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 21px;
  max-width: 290px;
}
@media (min-width: 768px) {
  .title-image {
    margin-right: 25px;
  }
}
@media (min-width: 1200px) {
  .title-image {
    margin-right: 0;
    max-width: 100%;
  }
}
.title-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.title-image::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(245, 249, 250, 0.5)), to(rgba(244, 248, 249, 0)));
  background-image: linear-gradient(to top, rgba(245, 249, 250, 0.5) 0%, rgba(244, 248, 249, 0) 100%);
  z-index: -1;
}
@media (min-width: 768px) {
  .title-image::after {
    top: 50px;
    left: 50px;
  }
}
@media (min-width: 1200px) {
  .title-image::after {
    top: 32%;
    left: 30%;
  }
}
.title-image_inner {
  padding-bottom: 100%;
  -webkit-box-shadow: 20px 20px 50px 0px #c4dbe9;
          box-shadow: 20px 20px 50px 0px #c4dbe9;
}
@media (min-width: 1200px) {
  .title-image_inner {
    padding-bottom: 89.71%;
  }
}
.about-me_desc {
  margin: 0 auto;
  max-width: 400px;
}
@media (min-width: 768px) {
  .about-me_desc {
    max-width: 100%;
  }
}
.about-me_title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .about-me_title {
    margin-top: 9px;
    margin-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .about-me_title {
    margin-top: -25px;
    margin-bottom: 13px;
  }
}
.about-me_text {
  font-weight: 500;
  color: #393f47;
  text-shadow: 0px 3px 42px rgba(255, 255, 255, 0.004);
  font-size: 18px;
  line-height: 1.67;
}
@media (min-width: 768px) {
  .about-me_text {
    max-width: 340px;
    line-height: 1.68;
  }
}
@media (min-width: 1200px) {
  .about-me_text {
    margin-bottom: 34px;
    max-width: 510px;
    font-size: 24px;
    line-height: 1.5;
  }
}
.about-me_button-link {
  display: none;
}
@media (min-width: 1200px) {
  .about-me_button-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.button-link {
  border-radius: 32px;
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.about-me_link-1 {
  display: inline-block;
  margin-right: 21px;
  padding: 15px 40px;
  background-color: var(--yellow);
  color: var(--black);
}
.about-me_link-1:hover {
  background-color: #ffd200;
}
.about-me_link-1:active {
  background-color: #e1bc10;
}
.about-me_link-2 {
  display: inline-block;
  padding: 12px 37px;
  border: 4px solid #464646;
  color: #464646;
}
.about-me_link-2:hover {
  border: 4px solid #797979;
}
.about-me_link-2:active {
  border: 4px solid #181818;
}
.link_1 {
  color: var(--black);
}
.link_2 {
  color: #464646;
}
.link_2:hover {
  color: #797979;
}
.link_2:active {
  color: #181818;
}
.about-me_bg {
  margin: 0 auto;
  margin-top: 33px;
  position: relative;
  -webkit-transform: scale(1.78);
          transform: scale(1.78);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
@media (min-width: 768px) {
  .about-me_bg {
    margin-top: -68px;
    max-width: 1140px;
    -webkit-transform: none;
            transform: none;
  }
}
@media (min-width: 1200px) {
  .about-me_bg {
    margin-top: -150px;
    max-width: 1600px;
  }
}
.about-me_row_skills {
  margin: 0 auto;
  margin-top: 78px;
  max-width: 400px;
}
@media (min-width: 768px) {
  .about-me_row_skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .about-me_row_skills {
    width: 1140px;
    padding-top: 70px;
    margin-top: -70px;
  }
}
@media (min-width: 768px) {
  .about-me_skills {
    width: 330px;
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .about-me_skills {
    width: 650px;
    margin-right: 128px;
  }
}
.about-me_skills_desc {
  padding-top: 5px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .about-me_skills_desc {
    margin-bottom: 0;
    line-height: 1.3;
  }
}
@media (min-width: 1200px) {
  .about-me_skills_desc {
    margin-bottom: 38px;
    padding-top: 0;
    font-size: 24px;
    line-height: 1.63;
  }
}
.about-me_list-item {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .about-me_list-item {
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .about-me_list-item {
    position: relative;
    margin-bottom: 0px;
    padding-left: 30px;
  }
  .about-me_list-item::before {
    content: '';
    position: absolute;
    top: 19px;
    left: -1px;
    height: 2px;
    width: 23px;
    background-color: var(--black);
  }
}
.about-me_list-item:last-child {
  margin-bottom: 0;
}
.list-item_big {
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .list-item_big {
    text-transform: none;
  }
}
.about-me_link {
  color: var(--black);
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.about-me_link:hover {
  color: #039be3;
  text-decoration: underline;
}
.about-me_link:active {
  color: #ea655f;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .about-me_link {
    font-size: 20px;
    line-height: 1;
  }
}
@media (min-width: 1200px) {
  .about-me_link {
    font-size: 24px;
  }
}
.none {
  display: none;
}
.portfolio {
  background-color: #f4f8f9;
  padding-top: 45px;
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .portfolio {
    padding-top: 61px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 95px;
    padding-bottom: 125px;
  }
}
.portfolio-row {
  margin: 0 auto;
  max-width: 290px;
}
@media (min-width: 768px) {
  .portfolio-row {
    margin-bottom: 0;
    max-width: 708px;
  }
}
@media (min-width: 1200px) {
  .portfolio-row {
    max-width: 1140px;
  }
}
.portfolio-filter {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .portfolio-works {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .portfolio-works {
    margin-bottom: 60px;
  }
}
.portfolio-work {
  font-weight: 800;
  color: #8fa5ae;
  line-height: 1.2;
  cursor: pointer;
}
.portfolio-work:hover {
  color: var(--red);
}
.portfolio-work:active {
  color: var(--red);
}
.portfolio-work:first-child {
  color: var(--black);
}
.portfolio-work:last-child {
  margin-right: 0px;
}
@media (min-width: 768px) {
  .portfolio-work {
    margin-right: 30px;
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .portfolio-work {
    margin-right: 75px;
    font-size: 28px;
  }
}
.portfolio-view-big {
  margin-bottom: 50px;
  max-width: 290px;
}
@media (min-width: 768px) {
  .portfolio-view-big {
    margin-bottom: 0;
    max-width: 338px;
  }
}
@media (min-width: 1200px) {
  .portfolio-view-big {
    max-width: 556px;
  }
}
.portfolio-view-big img {
  background-color: #fdd446;
  max-width: 290px;
}
@media (min-width: 768px) {
  .portfolio-view-big img {
    max-width: 338px;
  }
}
@media (min-width: 1200px) {
  .portfolio-view-big img {
    max-width: 556px;
  }
}
.down15 {
  margin-bottom: 20px;
}
.img-link {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .img-link {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .img-link {
    margin-bottom: 20px;
  }
}
.img-link a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(240, 217, 96, 0.5);
  opacity: 0;
  z-index: 1;
}
.img-link a .img-view {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -500%);
          transform: translate(-50%, -500%);
  width: 254px;
  height: 52px;
  border-radius: 52px;
  border: none;
  background-color: #ffffff;
  font-size: 22px;
  color: var(--red);
  font-weight: 700;
  padding: auto;
  opacity: 1;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.img-link a .img-view:hover {
  background-color: var(--red);
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img-link a .img-view:active {
  background-color: #d4423b;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img-link a:hover .img-view {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.img-link a:hover:before,
.img-link a:hover:after {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mix {
  display: none;
}
.link-top {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-big {
  font-size: 22px;
  font-weight: 800;
  color: var(--black);
}
.link-big:hover {
  color: var(--red);
  text-decoration: underline;
}
@media (min-width: 768px) {
  .link-big {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .link-big {
    font-size: 32px;
  }
}
.portfolio-view-big p {
  padding-top: 3px;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .portfolio-view-big p {
    padding-top: 8px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-view-big p {
    padding: 0;
    font-size: 22px;
  }
}
.portfolio-view-micro {
  width: 290px;
}
.portfolio-view-micro:last-child {
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .portfolio-view-micro {
    width: 340px;
  }
  .portfolio-view-micro:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio-view-micro {
    width: 360px;
    height: auto;
  }
}
.link-micro {
  font-size: 22px;
  font-weight: 800;
  color: var(--black);
}
.link-micro:hover {
  color: var(--red);
  text-decoration: underline;
}
@media (min-width: 768px) {
  .link-micro {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .link-micro {
    font-size: 26px;
  }
}
.portfolio-view-micro p {
  padding-top: 3px;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .portfolio-view-micro p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-view-micro p {
    padding: 0;
    font-size: 20px;
  }
}
.portfolio-link {
  color: var(--black);
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
}
.portfolio-link:hover {
  color: #039be3;
  text-decoration: underline;
}
.portfolio-link:active {
  color: #ea655f;
  text-decoration: underline;
}
.how-work {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 67px;
  background: url(../img/bg/line_2.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
@media (min-width: 768px) {
  .how-work {
    max-width: 100%;
    padding-top: 73px;
    padding-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .how-work {
    max-width: 1600px;
    padding-top: 125px;
    padding-bottom: 145px;
  }
}
.how-work_blocks {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .how-work_blocks {
    max-width: 708px;
  }
}
@media (min-width: 1200px) {
  .how-work_blocks {
    max-width: 1008px;
  }
}
@media (min-width: 768px) {
  .how-work_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.how-work_row:nth-child(odd) .how-work_block {
  text-align: left;
}
@media (min-width: 768px) {
  .how-work_row:nth-child(odd) .how-work_block {
    padding-left: 0;
    padding-right: 68px;
    padding-bottom: 45px;
    margin-bottom: 47px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .how-work_row:nth-child(odd) .how-work_block {
    padding-right: 78px;
    padding-bottom: 60px;
    margin-bottom: 43px;
  }
}
.how-work_row:nth-child(even) {
  display: block;
}
@media (min-width: 768px) {
  .how-work_row:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .how-work_row:nth-child(even) .how-work_block {
    padding-left: 67px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .how-work_row:nth-child(even) .how-work_block {
    padding-left: 82px;
    padding-right: 0;
    padding-bottom: 55px;
    margin-bottom: 39px;
  }
}
@media (min-width: 768px) {
  .how-work_row:nth-child(2) .how-work_block {
    padding-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .how-work_row:nth-child(2) .how-work_block {
    padding-bottom: 65px;
  }
}
.how-work_row:nth-child(3) .how-work_block {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .how-work_row:nth-child(3) .how-work_block {
    padding-bottom: 0px;
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .how-work_row:nth-child(3) .how-work_block {
    padding-bottom: 65px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) {
  .how-work_row:nth-child(4) .how-work_block {
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .how-work_row:nth-child(4) .how-work_block {
    padding-bottom: 32px;
    margin-bottom: 43px;
  }
}
.how-work_row:last-child .how-work_block {
  margin-bottom: 0;
  padding-bottom: 0;
}
.how-work_row:last-child .how-work_block:after {
  display: none;
}
.stick:before {
  display: none;
}
@media (min-width: 768px) {
  .stick:before {
    display: block;
    content: "";
    position: absolute;
    top: -100px;
    left: auto;
    right: 0px;
    bottom: 0;
    background-color: #e1eef4;
    width: 4px;
    height: 57px;
  }
}
.how-work_block {
  position: relative;
  padding-left: 100px;
  padding-bottom: 47px;
  margin-bottom: 13px;
  min-width: 200px;
}
.how-work_block::after {
  content: "";
  position: absolute;
  top: 94px;
  left: 35px;
  bottom: 0;
  background-color: #e1eef4;
  width: 4px;
}
@media (min-width: 768px) {
  .how-work_block::after {
    top: 73px;
    left: 0px;
    bottom: 0;
  }
}
.how-work_block:hover {
  color: #ea736d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .how-work_block {
    width: 50%;
    min-width: 220px;
  }
}
@media (min-width: 768px) {
  .how-work_row:nth-child(odd) .how-work_block::after {
    left: auto;
    right: 0px;
  }
}
.how-work_img {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
@media (min-width: 768px) {
  .how-work_img {
    top: 0;
    left: -37px;
    -webkit-transform: translateY(-21px);
            transform: translateY(-21px);
  }
}
@media (min-width: 768px) {
  .how-work_row:nth-child(odd) .how-work_img {
    left: auto;
    right: -37px;
  }
}
.how-work_desc {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
@media (min-width: 768px) {
  .how-work_desc {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 1.4;
  }
}
@media (min-width: 1200px) {
  .how-work_desc {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.2;
  }
}
.how-work_time {
  font-size: 14px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .how-work_time {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .how-work_time {
    font-weight: 700;
  }
}
.contacts {
  position: relative;
  padding-top: 43px;
  padding-bottom: 60px;
  background-image: url("../img/bg/line_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  z-index: 1;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 127px;
    padding-bottom: 150px;
  }
  .contacts:before {
    content: "";
    display: block;
    position: absolute;
    top: 275px;
    left: -90px;
    width: 450px;
    height: 270px;
    background-image: url(../img/contacts/66-dots.png);
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .contacts-row {
    margin: 0 auto;
    max-width: 708px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .contacts-row {
    max-width: 1140px;
  }
}
.contacts-row_left {
  z-index: 3;
}
@media (min-width: 768px) {
  .contacts-row_left {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .contacts-row_left {
    padding-top: 29px;
    width: 510px;
  }
}
.contacts-row_desc {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
@media (min-width: 768px) {
  .contacts-row_desc {
    margin-top: -7px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.57;
  }
}
@media (min-width: 1200px) {
  .contacts-row_desc {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 1.6;
  }
}
.contacts-list {
  margin-bottom: 33px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .contacts-list {
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .contacts-list {
    margin-bottom: 45px;
  }
}
.contacts-list_item {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contacts-list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .contacts-list_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 25px;
  }
}
.contacts-list_def {
  font-weight: 800;
}
@media (min-width: 768px) {
  .contacts-list_def {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .contacts-list_def {
    margin-right: 100px;
    width: 94px;
  }
}
.contacts-list_desc {
  color: #96969d;
  font-weight: 500;
  margin-right: 0;
  width: 300px;
}
.contacts-list_desc a {
  text-shadow: 0 3px 42px #ffffff;
  color: #96969d;
  font-weight: 500;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.contacts-list_desc a:hover {
  color: #039be5;
}
.contacts-row_right {
  margin-top: 48px;
  padding: 18px 15px 40px 15px;
  background: #ffffff;
  -webkit-box-shadow: 0 28px 100px #c2dbeb;
          box-shadow: 0 28px 100px #c2dbeb;
}
@media (min-width: 768px) {
  .contacts-row_right {
    margin-top: 0;
    padding: 35px 27px 40px 27px;
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .contacts-row_right {
    padding: 81px 60px 40px 62px;
    margin-right: 22px;
    width: 510px;
  }
}
.form-row {
  position: relative;
  font-weight: 700;
}
.form-row:nth-last-child(2) {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .form-row {
    margin-bottom: 17px;
  }
  .form-row:nth-last-child(2) {
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .form-row {
    margin-bottom: 65px;
  }
  .form-row:nth-last-child(2) {
    margin-bottom: 32px;
  }
}
.form-row_input {
  height: 83px;
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #eaeaea;
  color: #000000;
  resize: none;
  outline: none;
}
.form-row_input:focus {
  border-bottom-color: var(--red);
}
@media (min-width: 768px) {
  .form-row_input {
    padding: 0 10px;
    height: 67px;
  }
}
@media (min-width: 1200px) {
  .form-row_input {
    height: 41px;
  }
}
.form-row_textarea {
  width: 100%;
  height: 162px;
  border: 0px;
  border-bottom: 2px solid #eaeaea;
  color: #000000;
  resize: none;
  outline: none;
}
.form-row_textarea:focus {
  border-bottom-color: var(--red);
}
@media (min-width: 768px) {
  .form-row_textarea {
    height: 144px;
  }
}
@media (min-width: 1200px) {
  .form-row_textarea {
    padding: 15px 15px 60px 15px;
    height: 110px;
  }
}
.fake-placeholder {
  position: absolute;
  top: 42px;
  left: 0px;
  color: #bcbcbc;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}
@media (min-width: 768px) {
  .fake-placeholder {
    top: 24px;
  }
}
@media (min-width: 1200px) {
  .fake-placeholder {
    top: 2px;
  }
}
.fake-placeholder.active {
  font-size: 16px;
  color: #ed9626;
  top: -5px;
}
@media (min-width: 768px) {
  .fake-placeholder_textarea {
    top: 45px;
  }
}
@media (min-width: 1200px) {
  .fake-placeholder_textarea {
    top: -8px;
  }
}
.error {
  position: relative;
  color: var(--red);
  font-size: 16px;
  font-weight: 600;
}
.error:after {
  content: '\f106';
  font-family: fontAwesome;
  position: absolute;
  top: -13px;
  left: 0;
  font-size: 15px;
}
.contact-form_button-3 {
  padding: 15px 77px;
  font-size: 20px;
  border: none;
  background-color: var(--yellow);
  color: var(--black);
}
.contact-form_button-3:hover {
  background-color: #ffd200;
}
.contact-form_button-3:active {
  background-color: #e1bc10;
}
@media (min-width: 768px) {
  .contact-form_button-3 {
    padding: 15px 90px;
  }
}
@media (min-width: 1200px) {
  .contact-form_button-3 {
    margin-left: -5px;
    padding: 20px 41px;
    font-size: 22px;
  }
}
.contact-form_success {
  text-align: center;
  color: var(--red);
}
.none {
  display: none;
}
.footer {
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #333333;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-copyright {
  margin-bottom: 10px;
  padding-top: 35px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .footer-copyright {
    padding-top: 33px;
  }
}
@media (min-width: 1200px) {
  .footer-copyright {
    margin-bottom: 12px;
    padding-top: 20px;
  }
}
.footer-desc {
  line-height: 1.85;
  color: rgba(255, 255, 255, 0.5);
}
.footer-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
.footer-link:hover,
.footer-link:active {
  color: #ffffff;
}
#page-nav {
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    display: inline;
    position: fixed;
    right: 20px;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    z-index: 10;
  }
}
@media (min-width: 1440px) {
  #page-nav {
    right: 80px;
  }
}
#page-nav li {
  width: 14px;
  height: 14px;
  background-color: #89b4cb;
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: var(--red);
}
#backTop a {
  position: fixed;
  right: 5px;
  bottom: 5px;
  color: #89b4cb;
  font-size: 45px;
  font-weight: 900;
  z-index: 5;
}
@media (min-width: 768px) {
  #backTop a {
    right: 15px;
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  #backTop a {
    display: none;
    right: 40px;
    bottom: 45px;
  }
}
#backTop a:hover {
  opacity: .5;
}
/******иконка Гамбургер*****/
.cmn-toggle-switch {
  display: block;
  position: relative;
  z-index: 200;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 55px;
  height: 40px;
  font-size: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 8px;
  right: 8px;
  height: 5px;
  background-color: var(--black);
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--black);
  content: "";
}
.cmn-toggle-switch span::before {
  top: -10px;
}
.cmn-toggle-switch span::after {
  bottom: -10px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}
/******конец иконки Гамбургер******/
#nav-menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
}
@media (min-width: 580px) {
  #nav-menu-toggle {
    top: 30px;
  }
}
@media (min-width: 768px) {
  #nav-menu-toggle {
    top: 40px;
    right: 40px;
  }
}
@media (min-width: 1200px) {
  #nav-menu-toggle {
    display: none;
  }
}
.social-icons_nav {
  display: none;
}
@media (min-width: 1200px) {
  .social-icons_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.social-icons_nav--gh {
  margin-right: 20px;
  font-size: 30px;
  color: var(--black);
}
.social-icons_nav--gh:hover,
.social-icons_nav--gh:active {
  color: #6cc644;
}
.social-icons_nav--vk {
  font-size: 31px;
  color: var(--black);
}
.social-icons_nav--vk:hover,
.social-icons_nav--vk:active {
  color: var(--blue);
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-icons_skills {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .social-icons_skills {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .social-icons_skills {
    padding-top: 6px;
    margin-left: 5px;
    margin-bottom: 29px;
  }
}
.social-icons_gh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  font-size: 52px;
  color: var(--black);
  -webkit-transition: .5s;
  transition: .5s;
}
.social-icons_gh:hover,
.social-icons_gh:active {
  color: #6cc644;
}
.social-icons_vk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  width: 50px;
  height: 49px;
  border-radius: 50%;
  background-color: var(--blue);
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}
.social-icons_vk:hover,
.social-icons_vk:active {
  background-color: #7296bc;
}
.social-icons_vk i {
  font-size: 30px;
}
.innpage {
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 768px) {
  .innpage {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .innpage {
    width: auto;
    background-image: url("../img/bg/line_1.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    z-index: 1;
  }
}
.header-nav_innpage {
  padding-top: 0px;
  margin-bottom: 50px;
}
@media (min-width: 580px) {
  .header-nav_innpage {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .header-nav_innpage {
    padding-top: 30px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .header-nav_innpage {
    padding-top: 70px;
    margin-bottom: 85px;
  }
}
.badges {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .badges {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .badges {
    margin-bottom: 87px;
  }
}
.badge {
  padding: 3px 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 800;
  font-family: "Roboto";
  color: #ffffff;
}
.badge:last-child {
  margin-right: 0;
}
.badge-html {
  background-color: #ff861a;
}
.badge-css {
  background-color: #039be5;
}
.badge-boot {
  background-color: #a062c7;
}
.badge-js {
  background-color: #ffd200;
  color: #000000;
}
.badge-jquery {
  background-color: #044d85;
}
.badge-php {
  background-color: #777bb4;
}
.innpage-row {
  margin-bottom: 57px;
}
@media (min-width: 1200px) {
  .innpage-row {
    margin-bottom: 117px;
    width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.innpage-row_moto {
  margin-bottom: 57px;
}
@media (min-width: 1200px) {
  .innpage-row_moto {
    margin-bottom: 117px;
    width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.innpage-left {
  position: relative;
  margin-bottom: 55px;
  z-index: 2;
}
@media (min-width: 768px) {
  .innpage-left {
    margin-right: 0;
    margin-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .innpage-left {
    width: 552px;
    margin-bottom: 0px;
  }
}
.innpage-right,
.innpage-right_moto {
  margin: 0 auto;
  max-width: 400px;
}
@media (min-width: 768px) {
  .innpage-right,
  .innpage-right_moto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 708px;
  }
}
@media (min-width: 1200px) {
  .innpage-right,
  .innpage-right_moto {
    margin-bottom: 0;
    margin-left: 0;
    display: block;
    width: 460px;
  }
}
@media (min-width: 1200px) {
  .innpage-right_moto {
    margin-right: 0;
  }
}
.forerst-page {
  -webkit-box-shadow: 20px 20px 100px 0px #c4dbe9;
          box-shadow: 20px 20px 100px 0px #c4dbe9;
}
.unit-page {
  margin: 0 auto;
  max-width: 552px;
  -webkit-box-shadow: 20px 20px 100px 0px #c4dbe9;
          box-shadow: 20px 20px 100px 0px #c4dbe9;
}
@media (min-width: 768px) {
  .unit-page {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
    z-index: 3;
  }
}
@media (min-width: 1200px) {
  .unit-page {
    margin-top: 130px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.unit-full_page {
  display: none;
}
@media (min-width: 768px) {
  .unit-full_page {
    display: block;
    position: absolute;
    top: -200px;
    right: -25px;
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    -webkit-box-shadow: 20px 20px 100px 15px #c4dbe9;
            box-shadow: 20px 20px 100px 15px #c4dbe9;
    z-index: 4;
  }
}
@media (min-width: 1200px) {
  .unit-full_page {
    top: 50px;
    right: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 768px) {
  .innpage_links-project {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .innpage_links-project {
    width: 460px;
  }
}
.innpage-links {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .innpage-links {
    margin-bottom: 43px;
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .innpage-links {
    margin-top: 5px;
    margin-bottom: 45px;
  }
}
.innpage-links > .title-5 {
  margin-bottom: 8px;
}
.innpage-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.social-icons_nav--brws {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 28px;
  color: var(--black);
  -webkit-transition: .5s;
  transition: .5s;
}
.social-icons_nav--gh {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
.link {
  font-size: 18px;
  color: #2a87b4;
  text-decoration: underline;
}
.link:hover {
  color: #ea655f;
  text-decoration: underline;
}
.innpage-project {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .innpage-project {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .innpage-project {
    margin-bottom: 55px;
  }
}
.innpage-project > .title-5 {
  margin-bottom: 15px;
}
.innpage-desc {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .innpage-details {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .innpage-details {
    width: 460px;
  }
}
.innpage-details > .title-5 {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .innpage-details > .title-5 {
    margin-bottom: 20px;
  }
}
.innpage-details_item {
  margin-bottom: 10px;
}
.innpage-details_item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .innpage-details_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 25px;
  }
}
.innpage-details_def {
  font-size: 16px;
  color: #161616;
  font-weight: 800;
  width: 35%;
}
.innpage-details_desc {
  font-size: 16px;
  font-weight: 500;
  color: #161616;
}
@media (min-width: 768px) {
  .innpage-details_desc {
    margin-bottom: 10px;
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .innpage-details_desc {
    margin-bottom: 0;
  }
}
.item {
  color: #039be5;
  text-decoration: underline;
}
.pgn-row {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .pgn-row {
    margin-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .pgn-row {
    margin-bottom: 95px;
  }
}
.pgn-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pgn-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pgn_page-view {
  display: inline-block;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto";
  color: #feffff;
  width: calc(50% - 15px);
  padding: 14px 0;
}
.pgn_page-view:hover {
  background-color: #656565;
}
.pgn_page-view:active {
  background-color: #141414;
}
@media (min-width: 635px) {
  .pgn_page-view {
    padding: 17px 0;
  }
}
@media (min-width: 1200px) {
  .pgn_page-view {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 22px;
  }
}
.page-view1 {
  display: none;
}
@media (min-width: 768px) {
  .page-view1 {
    display: block;
  }
}
.page-view2 {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-view2 {
    margin: 0;
  }
}
.innpage_footer {
  font-family: "Roboto";
  text-align: center;
}
.innpage_foot1 {
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .innpage_foot1 {
    font-size: 36px;
    letter-spacing: 1.1px;
  }
}
@media (min-width: 1200px) {
  .innpage_foot1 {
    margin-bottom: 10px;
    font-size: 42px;
  }
}
.innpage_foot2 {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 200;
}
@media (min-width: 768px) {
  .innpage_foot2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 300;
  }
}
@media (min-width: 1200px) {
  .innpage_foot2 {
    margin-bottom: 30px;
    font-size: 38px;
  }
}
.link-2 {
  color: #4298e8;
  text-decoration: underline;
}
.innpage_foot {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .innpage_bg {
    margin: 0 auto;
    margin-top: -60px;
    position: relative;
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .innpage_bg {
    margin-top: -130px;
    max-width: 1600px;
  }
}
/*# sourceMappingURL=main.css.map */