.footer {
    padding-bottom: 40px;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-copyright {
    padding-top: 23px;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-desc_1 {
    margin-bottom: 5px;
    opacity: .5;
}

.footer-desc_2 {
    opacity: .5;
}

.footer-link {
    color: #fff;
    text-decoration: underline;
}