.none {
    display: none;
}

.portfolio {
    background-color: #f4f8f9;
    padding-top: 45px;
    padding-bottom: 80px;

    @media (min-width: 768px) {
        padding-top: 61px;
        padding-bottom: 75px;
    }

    @media (min-width: 1200px) {
        padding-top: 95px;
        padding-bottom: 125px;
    }
}

.portfolio-row {
    margin: 0 auto;
    max-width: 340px;

    @media (min-width: 768px) {
        margin-bottom: 0;
        max-width: 708px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.portfolio-filter {
    margin-bottom: 50px;
}

.portfolio-works {

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
        justify-content: flex-start;
        margin: 0 -14px;
        margin-bottom: 10px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 30px;
    }
}

// Portfolio-filter
.portfolio-work {
    font-weight: 800;
    color: #8fa5ae;
    line-height: 1.2;
    cursor: pointer;

    &:hover,
    &:active {
        color: var(--red);
    }

    &:first-child {
        color: var(--black);
    }

    &:last-child {
        margin-right: 0px;
    }

    @media (min-width: 768px) {
        margin-right: 30px;
        font-size: 26px;
    }

    @media (min-width: 1200px) {
        margin-right: 75px;
        font-size: 28px;
    }
}

.portfolio-link {
    color: var(--black);
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;

    &:hover {
        color: #039be3;
        text-decoration: underline;
    }

    &:active {
        color: #ea655f;
        text-decoration: underline;
    }
}