.innpage {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;


    @media (min-width: 580px) {
        padding-top: 20px;
    }

    @media (min-width: 768px) {
        padding-top: 30px;
        margin: 0 auto;
        width: 768px;
    }

    @media (min-width: 1200px) {
        padding-top: 0px;
        width: auto;

        background-image: url("../img/bg/line_1.jpg");
        background-size: auto;
        background-position: center;
        background-repeat: repeat-y;
        z-index: 1;
        overflow: hidden;
    }
}

.header-nav_innpage {
    margin-top: 10px;
    margin-bottom: 20px;

    @media (min-width: 580px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 120px;
    }
}

.badges {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 87px;
    }
}

.badge {
    padding: 3px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 800;
    font-family: "Roboto";
    color: #ffffff;

    &:last-child {
        margin-right: 0;
    }
}

.badge-html {
    background-color: #ff861a;
}

.badge-css {
    background-color: #039be5;
}

.badge-boot {
    background-color: #a062c7;
}

.badge-wp {
    background-color: #3f9879;
}

.badge-js {
    background-color: #ffd200;
    color: #000000;
}

.badge-jquery {
    background-color: #044d85;
}

.badge-php {
    background-color: #777bb4;
}

.innpage-row {
    margin-bottom: 57px;

    @media (min-width: 1200px) {
        margin-bottom: 117px;
        width: 1140px;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.innpage-row_moto {
    position: relative;
    margin-bottom: 57px;

    @media (min-width: 1200px) {
        margin-bottom: 117px;
        width: 1140px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.innpage-left {
    position: relative;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 290px;
    height: 100%;
    // background-color: rgba(3, 154, 229, 0.2);
    
    z-index: 2;

    @media (min-width: 390px) {
        margin-bottom: 55px;
        width: 360px;
    }

    @media (min-width: 768px) {
        margin-bottom: 90px;
        width: 498px;
    }

    @media (min-width: 1200px) {
        margin-right: 0;
        margin-bottom: 0px;
        // width: 552px;
        width: 547px;
    }
}

.innpage_server-gate {
    height: 290px;
    background-image: url('../img/project-page/server-gate_mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: 390px) {
        height: 360px;
    }

    @media (min-width: 768px) {
        height: 498px;
    }

    @media (min-width: 1200px) {
        height: 960px;
        background-image: url('../img/project-page/server-gate.jpg');
    }

}

.shadow {
    box-shadow: 20px 20px 100px 0px rgba(196, 219, 233, 1);
}

.shadow-2{
    box-shadow: 20px 20px 100px 15px rgba(196, 219, 233, 1);
}

.innpage-left-shadow {
    margin: 0 auto;
    box-shadow: 0px 14px 28px rgba(11, 72, 99, 0.3);
}

.innpage-right {
    margin: 0 auto;
    max-width: 400px;

    @media (min-width: 768px) {
        max-width: 708px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width: 1200px) {
        margin-bottom: 0;
        display: block;
        width: 460px;
    }
}

.innpage-right_moto {
    margin: 0 auto;
    max-width: 350px;

    @media (min-width: 768px) {
        max-width: 708px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width: 1200px) {
        display: block;
        width: 350px;
    }
}

.unit_page-1 {
    margin: 0 auto;
    max-width: 552px;

    @media (min-width: 768px) {
        margin-right: 0;
        transform: scaleX(1.1);
    }

    @media (min-width: 1200px) {
        transform: scaleX(1);
    }
}

.unit_page-2 {
    display: none;

    @media (min-width: 1200px) {
        display: block;
        position: absolute;
        top: 100px;
        right: -280px;
        transform: scale(0.45);
    }
}

.unit_page-3 {
    display: none;

    @media (min-width: 1200px) {
        display: block;
        position: absolute;
        top: 320px;
        left: -250px;
        right: auto;
        transform: scale(0.52);
        z-index: 1;
    }
}

.unit_page-4 {
    display: none;

    @media (min-width: 768px) {
        display: block;
        position: absolute;
        margin-top: -150px;
        margin-left: 400px;
        width: 100%;
        max-width: 230px;
    }

    @media (min-width: 1200px) {
        margin: 0;
        width: 270px;
        margin-top: 300px;
        margin-left: 300px;
        z-index: 1;
    }
}

.forest_page {
    margin-left: 120px;
    position: relative;
    width: 380px;
    box-shadow: 0px 20px 50px 0px rgba(196, 219, 233, 1);
}

.forest_page-2 {
    position: absolute;
    width: 285px;
    top: 50px;
    left: -80px;
    box-shadow: -20px 20px 100px 0px rgba(196, 219, 233, 1);
    z-index: -1;
}

.forest_page-3 {
    position: absolute;
    width: 250px;
    right: -90px;
    bottom: -120px;
    box-shadow: 5px 20px 80px 0px rgba(196, 219, 233, 1);
}

.forest_page-4 {
    position: absolute;
    width: 330px;
    top: 220px;
    right: -150px;
    z-index: -1;
}

.teta-page {
    box-shadow: 10px 10px 80px rgba(196, 219, 233, 1);
    max-width: 498px;
}

// .quantum-page {

//     img {
//         width: 100%;
//     }
// }

// .sboard-page_1 {

//     img {
//         width: 100%;
//     }
// }

.sboard-page_2 {
    display: none;

    @media (min-width: 768px) {
        display: block;
        position: absolute;
        top: 170px;
        left: 150px;
        right: -150px;
        transform: scale(0.5);
        z-index: 4;
    }

    @media (min-width: 1200px) {
        top: 230px;
        left: 120px;
        right: -120px;
        transform: scale(0.85);
    }
}

.sboard-page_3 {
    display: none;

    @media (min-width: 1200px) {
        display: block;
        position: absolute;
        top: 365px;
        left: -50px;
        right: 50px;
        transform: scale(0.55);
        z-index: 4;
    }
}

.sboard-page_4 {
    display: none;

    @media (min-width: 768px) {
        display: block;
        position: absolute;
        top: 120px;
        left: -110px;
        right: 110px;
        transform: scale(0.45);
        z-index: 3;
    }

    @media (min-width: 1200px) {
        display: block;
        position: absolute;
        top: 630px;
        left: 120px;
        right: -120px;
        transform: scale(0.55);
        z-index: 3;
    }
}

.moto-page {

    @media (min-width: 1200px) {
        width: 700px;
    }
}

.innpage_links-project {

    @media (min-width: 768px) {
        width: 340px;
    }

    @media (min-width: 1200px) {
        width: 460px;
    }
}

.innpage-links {
    margin-bottom: 38px;

    @media (min-width: 768px) {
        margin-bottom: 43px;
        width: 340px;
    }

    @media (min-width: 1200px) {
        margin-top: 5px;
        margin-bottom: 45px;
    }
}

.innpage-links>.title-5 {
    margin-bottom: 8px;
}

.innpage-link {
    display: flex;
    flex-direction: column;
}

//  social icons
.social-icons_nav--brws {
    align-items: center;
    margin-right: 15px;
    font-size: 26px;
    color: var(--black);
    transition: .5s;

    @media (min-width: 390px) {
        font-size: 28px;
    }
}

.social-icons_nav--gh {
    align-items: center;
    margin-right: 15px;
    font-size: 28px;

    @media (min-width: 390px) {
        font-size: 30px;
    }
}

//  End social icons

.link {
    font-size: 18px;
    color: #2a87b4;
    text-decoration: underline;

    &:hover {
        color: #ea655f;
        text-decoration: underline;
    }
}

.innpage-project {
    margin-bottom: 38px;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }

    @media (min-width: 1200px) {
        margin-bottom: 55px;
    }
}

.innpage-project>.title-5 {
    margin-bottom: 15px;
}

.innpage-desc {
    font-size: 16px;
    font-weight: 500;
}

.innpage-details {

    @media (min-width: 768px) {
        width: 340px;
    }

    @media (min-width: 1200px) {
        width: 460px;
    }
}

.innpage-details>.title-5 {
    margin-bottom: 22px;

    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.innpage-details_item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    
    @media (min-width: 1200px) {
        flex-direction: row;
    }

}

.innpage-details_def {
    font-size: 16px;
    color: #161616;
    font-weight: 800;
    width: 35%;
}

.innpage-details_desc {
    font-size: 16px;
    font-weight: 500;
    color: rgb(22, 22, 22);

    @media (min-width: 768px) {
        margin-bottom: 10px;
        width: 100%;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 0;
        width: 65%;
    }
}

.item {
    color: #039be5;
    text-decoration: underline;
}

.pgn-row {
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 75px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 95px;
    }
}

.pgn-row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pgn-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pgn_page-view {
    display: inline-block;
    padding: 12px 10px;
    width: 100%;

    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto";
    color: #feffff;
    background-color: #333333;
    text-align: center;

    &:hover {
        background-color: #656565;
    }

    &:active {
        background-color: #141414;
    }

    @media (min-width: 390px) {
        max-width: ~"calc(50% - 10px)";
    }

    @media (min-width: 635px) {
        padding: 17px 0;
        width: 100%;
        max-width: ~"calc(50% - 15px)";
    }

    @media (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 22px;
    }
}

.pgn_page-view-unit {
    max-width: ~"calc(50% - 5px)";
}

.pgn_page-view span {
    margin: 0 auto;
    display: block;
    width: 115px;

    @media (min-width: 480px) {
        width: 180px;
    }

    @media (min-width: 1200px) {
        width: 250px;
    }
}

.page-view1 {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.page-view2 {
    margin: 0 auto;

    @media (min-width: 768px) {
        margin: 0;
    }
}

.innpage_footer {
    font-family: "Roboto";
    text-align: center;
}

.innpage_foot1 {
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: 700;

    @media (min-width: 768px) {
        font-size: 36px;
        letter-spacing: 1.1px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 10px;
        font-size: 42px;
    }
}

.innpage_foot2 {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 100;

    @media (min-width: 768px) {
        margin-bottom: 30px;
        font-size: 30px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 30px;
        font-size: 38px;
    }
}

.link-2 {
    color: #4298e8;
    text-decoration: underline;
    font-weight: 300;
}

.innpage_foot {
    justify-content: center;
}

.innpage_bg {

    @media (min-width: 768px) {
        margin: 0 auto;
        margin-top: -60px;
        position: relative;
        z-index: -1;
    }

    @media (min-width: 1200px) {
        margin-top: -130px;
        max-width: 1600px;
    }
}